body {
    margin: 0;
    padding: 0;
    background: #050505 url(../img/img01.jpg) repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #5B5B5B;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: #222222;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 1.6em;
}

p, ul, ol {
    margin-top: 0;
    line-height: 180%;
}

ul, ol {
}

a {
    color: #5E5E5E;
}

a:hover {
}

main {
    background: #FFFFFF url(../img/img05.jpg) repeat;
    overflow: hidden;
}

header {
    width: 100%;
    margin: 0px auto;
}

/* Header */

#header-wrapper {
    overflow: hidden;
}

header {
    width: 100%;
    height: 10%;
    margin: 0 auto;
    padding: 0px 0px;
    overflow: hidden;
}

/* Logo */

#logo {
    width: 40%;
    margin: 0;
    padding-left: 2%;
    color: #FFFFFF;
}

#logo h1 {
    line-height: 120px;
    letter-spacing: -2px;
    font-size: 3.8em;
}

#logo h1 a {
    color: #1F1F1F;
    text-shadow: 1px 1px 0px rgba(0,0,0,.2);
}

#logo p {
    margin: 0;
    padding: 0px 0 0 0px;
    letter-spacing: -1px;
    font: normal 18px Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    color: #8E8E8E;
}

#logo p a {
    color: #8E8E8E;
}

#logo a {
    border: none;
    background: none;
    text-decoration: none;
    color: #000000;
}

/* Menu */

nav {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

nav ul {
    margin: auto;
    list-style: none;
    line-height: normal;
}

nav li {
    display: inline-block;
    padding: 2%;
}

nav a {
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(0,0,0,.2);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    color: #1F1F1F;
    border: none;
}

nav a:hover, #menu .current_page_item a {
    background: url(../img/img01.jpg) repeat;
    text-decoration: none;
    color: #FFFFFF;
}

/* Content */

#content {
    width: 100%;
    margin: auto;
}

article {
    width: 100%;
    margin-bottom: 4%;
    border-bottom: 1px solid #E7EBED;
    padding: 2%;
}

article .title {
    letter-spacing: -1px;
}

article .title a {
    border: none;
    text-decoration: none;
    color: #222222;
}

article .meta {
    margin-bottom: 3%;
    padding-top: 1%;
    text-align: left;
    font-family: 'Abel', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
}

article .entry {
    text-align: justify;
    width: 100%;
}

.posted {
    display: block;
}

.links {
    padding-top: 2%;
    margin-bottom: 3%;
}

.more {
    display: inline;
    width: 20%;
    padding: 2%;
    margin-right: 1%;
    background: #222222;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

.comments {
    display: inline;
    width: 20%;
    padding: 2%;
    background: #222222;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

/* Sidebar */

aside {
    width: 100%;
    margin: 0px;
    padding: 3%;
}

aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

aside li {
    margin: 0;
    padding: 0;
}

aside li ul {
    margin: 0px 0px;
    padding-bottom: 3%;
}

aside li li {
    line-height: 40px;
    border-bottom: 1px solid #E7EBED;
    margin: 0px 0px;
    border-left: none;
}

aside li li span {
    display: block;
    margin-top: -2%;
    padding: 0;
    font-size: 1em;
    font-style: italic;
}

aside li li a {
    padding: 2%;
    background: url(../img/img04.jpg) no-repeat left 50%;
}

aside h2 {
    height: 38px;
    padding: 3%;
    letter-spacing: -.5px;
    font-size: 1.8em;
    color: #222222;
}

aside p {
    margin: 0 0px;
    padding: 3%;
    text-align: justify;
}

aside a {
    border: none;
}

aside a:hover {
    text-decoration: underline;
}

/* Footer */

footer {
    margin: 0 auto;
    padding: 2%;
    font-family: 'Abel', sans-serif;
}

footer p {
    margin: 0;
    padding-top: 1%;
    letter-spacing: 1px;
    line-height: normal;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    color: #5E5E5E;
}

footer a {
    color: #5E5E5E;
}

#banner {
    margin: 0px auto;
    width: 100%;
    background: url(../img/img03.png) no-repeat left bottom;
}

section {
    width: 90%;
    margin: 0 auto;
    padding: 2%;
    overflow: none;
}

.list-style1 {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.list-style1 a {
    color: #7F7F7F;
}

/*** MEDIA QUERIES **/

@media (min-width: 700px) {

    nav, nav ul, nav li, nav a {
        margin: auto;
        display: inline;
        width: 100%;
        padding: 2%;
    }
}
